<div class="container">
	<div class="row" style="height:50px"></div>
	<h2 style="text-align:center;padding-bottom:40px;">Add new book</h2>
	<div class="row">
		<form role="form"  data-ng-submit="submitBook();">
		  <div class="form-group">
		    <label>Title</label>
		    <input type="text" class="form-control" id="title" placeholder="" data-ng-model="book.title">
		  </div>
		  <div class="form-group">
		    <label>Author</label>
		    <input type="text" class="form-control" id="author" placeholder="" data-ng-model="book.author">
		  </div>
		  <div class="form-group">
		    <label>Category</label>
		    <input type="text" class="form-control" id="category" placeholder="" data-ng-model="book.category">
		  </div>
		<div class="form-group">
			<label>ISBN</label>
			<input type="text" class="form-control" id="ISBN" placeholder="" data-ng-model="book.ISBN">
		</div>
		<div class="form-group">
			<label>Book cover link</label>
			<input type="text" class="form-control" id="cover" placeholder="" data-ng-model="book.cover">
		</div>
		<div class="form-group">
			<label>Description</label>
			<textarea class="form-control" rows="3" data-ng-model="book.description"></textarea>
		</div>

		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>