<div class="container">
	<div class="row" style="height:50px"></div>
	<div class="row">
		<div class="right-inner-addon">
        <i class="icon-search"></i>
        <input type="search"
               class="form-control" 
               placeholder="Search" data-ng-model="searchText"/>
    	</div>

    	<div class="row" style="height:50px"></div>


		<div id="products" class="row list-group">

		    <div data-ng-repeat="book in books | filter:searchText">    
		        <div class="item  col-xs-4 col-lg-4" style="height:200px;" data-ng-click="addBook(book);">
		            <div class="thumbnail">
		                <!-- <div class="col-xs-6">
		                	<img data-ng-src="">
		                </div>
			            <div class="col-xs-6">    
			                <div class="caption">
			                    <h4 class="group inner list-group-item-heading">
			                        {{book.title}}
			                    </h4>
			                </div>
			            </div> -->
			            <div class="row">
			            	<div class="col-xs-3"></div>
			            	<div class="col-xs-7">
			            		<img data-ng-src="{{book.cover}}" height="100" width="70" style="">
			            	</div>
			            	<!-- <div class="col-xs-2"></div> -->
			            </div>
			            <div class="row">
				            	<div class="caption text-center">
				            		<h6 class="group inner list-group-item-heading">{{book.title}}</h6>
				            	</div>
			            </div>
		            </div>
		        </div>
		    </div>
	    </div>
	    <div data-ng-show="books.length && !(books|filter:searchText).length">
	    	<div class="text-center">
	    		<h5>The book you are looking for is not in our database</h5>
	    		<h5>If you want to add it personally click the button below</h5>
	    		<a href class="btn btn-hg btn-primary btn-success" ui-sref="home.addNewBook">Add book</a>
	    	</div>
	    </div>
	</div>
</div>