<div class="container">
	<div class="row" style="height:80px;"></div>
	<div class="row">
		<div class="row">
			<div class="col-xs-4">
				<div class="row">	
					<img data-ng-src="{{book.cover}}" height="400" width="250">
				</div>
				<div class="row" style="height:50px;">
				</div>
			</div>
			<div class="col-xs-8">
				<div class="row">
					<div class="text-center">
						<h3>{{book.title}}</h3>
					</div>
				</div>
				<div class="row">
					<div class="text-center">
						<h5>by {{book.author}}</h5>
					</div>
				</div>
				<div class="row" style="height:100px"></div>
				<div class="row">
					<div class="text-center">
						<h6>{{book.description}}</h6>
					</div>
				</div>
				<div class="row" style="padding-bottom:20px;">
					<div class="text-center">
						<h6>ISBN : {{book.ISBN}}</h6>
					</div>
				</div>
				<div class="row">
					<div class="text-center">
						<a href class="btn btn-primary btn-success" data-ng-click="goToOwners();">Get book</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>