<div class="container">
	<div class="row" style="height:80px;"></div>
	<div class="row">
		<div class="row">
			<div class="col-xs-3">
				<div class="row">	
					<img data-ng-src="{{book.cover}}" height="350" width="250">
				</div>
				<div class="row" style="height:20px"></div>
				<div class="row">
					<div class="text-center">
						<h4>{{book.title}}</h4>
						<h4>by {{book.author}}</h4>
					</div>
				</div>
			</div>
			<div class="col-xs-1"></div>
			<div class="col-xs-8">
				<div class="row" style="height:0px;"></div>
				<div class="row" data-ng-if="owners.length">
					<div class="text-center">
						<h3>Owners:</h3>
					</div>
				</div>
				<div class="row" data-ng-if="!owners.length" style="padding-top:50px;">
					<div class="text-center">
						<h3>This book has no owners</h3>
					</div>
				</div>

				<div class="row" style="height:40px"></div>
				<div class="row">
					<ul class="list-group">
						<li class="list-group-item" data-ng-repeat="owner in owners">
							First name: {{owner.firstName}}</br>Last name: {{owner.lastName}}</br>
							Location: {{owner.location}}</br>
							Rating:
							<rating data-ng-model="owner.rating" max="5" readonly="true"></rating>
							<a href class="btn btn-primary btn-default" data-ng-click="sendRequest(owner.username);">Send request</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>