<div class="container">
	<div class="row" style="height:40px;">
	</div>
	<div class="row">
		<object width="800" height="500" data="./libs/Games/CircleWars/Game.swf" style="border:5px solid;"></object>
	</div>
	<div class="row">
		<h3>Ghid</h3>
		<ul class="list-group">
			<li class="list-group-item">A - Ataca</li>
			<li class="list-group-item">Space - Sprint</li>
			<li class="list-group-item">Caracterul se misca dupa cursor</li>

		</ul>
	</div>
</div>