<div class="big-container" style="padding-top:35px;">
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<div class="row">
				<h2 class="text-center">Program</h2>
			</div>
			<div class="row" style=""></div>
			<div class="row" style="">
        <onedayschedule data-ng-slots="slots" data-ng-schedule="schedule"></onedayschedule>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="row">
				<div ng-controller="DatepickerdemoCtrl">
    <!-- <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre> -->
          <div style="display:inline-block; min-height:290px;">
            <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
          </div>
			 </div>
      </div>
			<div class="row">
        <!-- <div class="col-xs-2"></div> -->
        <div data-ng-show="!!booking" class="col-xs-12">
          <div data-ng-show="!booking.old">
            <div class="row">
              <label>Interval: {{booking.from | toHour}} - {{booking.until | toHour}}</label>
            </div>
            <div class="row">
              <label>Tip activitate: </label>
              <!-- <select>
                <option data-ng-repeat="element in bookingList">{{element}}</option>
              </select> -->
              <select data-ng-model="taskType" data-ng-options="task for task in bookingList"></select>
            </div>
            <div class="row">
              <label>Titlu: </label>
              <div class="input-group input-group-sm">
                <input data-ng-model="title" type="text" class="form-control" style="height:22px;">
              </div>
            </div>
            <div class="row">
              <label>Notite:</label>
              <textarea data-ng-model="note" class="form-control" rows="2" style="width:80%;"></textarea>
            </div>
            <div class="row">
              <div class="input-group">
                <input type="checkbox" data-ng-model="alarmChecked">
                <label >Alarma</label>
                <!-- <input data-ng-disabled="!alarmChecked" type="text" class="form-control"> -->
                <select data-ng-hide="!alarmChecked" data-ng-model="alarmDelay" data-ng-options="delay.text for delay in delayList"></select>
              </div>
            </div>
            <div class="row">
              <div class="input-group">
                <input type="checkbox" data-ng-model="reminderChecked">
                <label>Memo</label>
                <!-- <input data-ng-disabled="!reminderChecked" type="text" class="form-control">  -->
                <select data-ng-hide="!reminderChecked" data-ng-model="reminderDelay" data-ng-options="delay.text for delay in delayList"></select>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 text-center">
                <a href class="btn btn-success" data-ng-click="saveBooking();">Salveaza</a>
              </div>
              <div class="col-xs-6">
                <a href class="btn btn-warning" data-ng-click="cancelBooking();">Anuleaza</a>
              </div>
            </div>
          </div>
        </div>
        <div data-ng-show="booking.old">
          <div class="row">
              <label>Interval: {{booking.from | toHour}} - {{booking.until | toHour}}</label>
            </div>
            <div class="row">
              <label>Tip activitate: </label>
              <label>{{booking.taskType}}</label>
            </div>
            <div class="row">
              <label>Titlu: </label>
              <label>{{booking.title}}</label>
            </div>
            <div class="row">
              <label>Notite:</label>
              <label>{{booking.note}}</label>
            </div>
            <div class="row">
                <label >Alarma</label>
            </div>
            <div class="row">
                <label>Memo</label>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <a href data-ng-click="dismiss();" class="btn btn-default">Inlatura</a>
              </div>
              <div class="col-xs-4">
                <a href data-ng-click="cancel(booking);" class="btn btn-warning">Anuleaza</a>
              </div>
              <div class="col-xs-4">
                <a href data-ng-click="doneBooking(booking);" class="btn btn-success">Rezolvat</a>
              </div>
            </div>
          </div>
        </div>
        </div>
			</div>
      <div class="row">
          <div data-ng-show="!!errorMessage">
            <div class="alert alert-warning">
              {{errorMessage}}
            </div>
          </div>
        </div>
		</div>
	</div>
</div>