<div class="big-container">
	<div class="col-xs-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li ui-sref-active="active">
				<a href ui-sref="home.getBook">Get a book</a>
			</li>
			<li ui-sref-active="active">
				<a href ui-sref="home.recommendations">Recommendation</a>
			</li>
			<li ui-sref-active="active">
				<a href ui-sref="home.notifications">Notifications <span data-ng-show="notificationsCount" class="badge">{{notificationsCount}}</span></a>
			</li>
			<li ui-sref-active="active">
        <a href ui-sref="home.myBooks">My Books</a>
      </li>
      <li ui-sref-active="active">
				<a href ui-sref="home.help">Help</a>
			</li>
		</ul>
	</div>
	<div ui-view=""></div>
</div>

<style type="text/css">
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
</style>