<nav class="navbar navbar-default navbar-fixed-top" style="" role="navigation">
	<div class="container-fluid">
		<!-- <div class="navbar-header">Salut</div> -->
		<div class="navbar-left">
			<p style="font-size:25px;padding-top:5px;"><b>BookSharing Center</b></p>
		</div>
		<a href data-ng-show="!!message" class="navbar-brand">{{message}}</a>
		<div class="navbar-right">
			<div data-ng-show="!user">
				<div>
					<form data-ng-submit="login();">
						<div class="navbar-right">
							<input type="submit" class="btn btn-success navbar-btn btn-sm" value="Log in">
						</div>
						<div class="navbar-form navbar-right">
							<div class='form-group'>
								<div class='input-group'>
									<input class='form-control' type='password' placeholder="Password" data-ng-model="credentials.password" tabindex="2">
								</div>
							</div>
						</div>
						<div class="navbar-form navbar-right">
							<div class="form-group">
								<div class="input-group">
									<input class="form-control" type="text" placeholder="Username" data-ng-model="credentials.username" tabindex="1">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div data-ng-show="!!user">
				<a href data-ng-click="logout()" class="btn btn-primary btn-default">Log Out</a>
			</div>
		</div>
	</div>
</nav>
