<div class="container">
	<div class="row" style="height:70px"></div>
	<h3 data-ng-if="!notifications.length">You don't have any notifications</h3>
	<div class="row">
		<accordion close-other="true">
			<accordion-group data-ng-repeat="notification in notifications" heading="{{notification|notificationFilter}}">
				<div data-ng-show="notification.type==='request'">{{notification.user.firstName}} {{notification.user.lastName}} wants to borrow {{notification.book.title}}</div>
				<div data-ng-show="notification.type==='rating'"></div>
				<div data-ng-show="notification.type==='request'">				
					<a href class="btn btn-success" data-ng-click="answerRequest(notification.id, 1);">Accept</a>
					<a href class="btn btn-danger" data-ng-click="answerRequest(notification.id, 0);">Decline</a>
				</div>
				<div data-ng-show="notification.type=='accept' || notification.type=='decline'">
					<a href class="btn btn-success" data-ng-click="markAsRead(notification.id);">Ok</a>
				</div>
				<div data-ng-show="notification.type==='rating'">
					<rating data-ng-model="rating" max="5" readonly="false" data-ng-click="sendRating(notification.id, notification.user.username);"></rating>
					<!-- <a href class="btn btn-success">Rate</a> -->
				</div>
			</accordion-group>
		</accordion>
	</div>
</div>