<div class="container">
	<div class="row" style="height:30px;">
	</div>
	<div class="row text-center">
		<h2>Clasament</h2>
	</div>
	<div class="row">
		<ol class="list-group">
			<li data-ng-repeat="user in rankings" class="list-group-item text-center"> {{$index + 1}}
				{{user.firstName}} {{user.lastName}} : {{user.score}}
			</li>
		</ol>
	</div>
</div>