<div class="container">
	<div class="row" style="height:50px;"></div>
	<h2 style="text-align:center;padding-bottom:20px;">Recommended for you</h2>
	<div class="row">
		<div id="products" class="row list-group">
		    <div data-ng-repeat="book in books">    
		        <div class="item  col-xs-4 col-lg-4" style="height:200px;" data-ng-click="seeBook(book.ISBN);">
		            <div class="thumbnail">
			            <div class="row">
			            	<div class="col-xs-3"></div>
			            	<div class="col-xs-7">
			            		<img data-ng-src="{{book.cover}}" height="100" width="70" style="">
			            	</div>
			            	<!-- <div class="col-xs-2"></div> -->
			            </div>
			            <div class="row">
				            	<div class="caption text-center">
				            		<h6 class="group inner list-group-item-heading">{{book.title}}</h6>
				            	</div>
			            </div>
		            </div>
		        </div>
		    </div>
	    </div>
	</div>
</div>

<script type="text/css">
	.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}


.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

</script>