<div class="container">
	<h2 style="text-align:center;padding-bottom:30px;">Sign up</h2>
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<form role="form"  data-ng-submit="signup();">
		  <div class="form-group">
		    <label>First name</label>
		    <input type="text" class="form-control" id="title" placeholder="" data-ng-model="fields[0].answer">
		  </div>
		  <div class="form-group">
		    <label>Last name</label>
		    <input type="text" class="form-control" id="author" placeholder="" data-ng-model="fields[1].answer">
		  </div>
		  <div class="form-group">
		    <label>Username</label>
		    <input type="text" class="form-control" id="category" placeholder="" data-ng-model="fields[2].answer">
		  </div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" id="ISBN" placeholder="" data-ng-model="fields[3].answer">
			</div>
			<div class="form-group">
				<label>Email</label>
				<input type="text" class="form-control" id="cover" placeholder="" data-ng-model="fields[4].answer">
			</div>
			<div class="form-group">
				<label>Phone</label>
				<input type="text" class="form-control" id="cover" placeholder="" data-ng-model="fields[5].answer">
			</div>
			<div class="form-group">
				<label>City</label>
				<input type="text" class="form-control" id="cover" placeholder="" data-ng-model="fields[6].answer">
			</div>

		  <button type="submit" class="btn btn-default">Submit</button>
		</form>

	</div>
</div>