<div class="big-container">
	<div class="row" style="height:500px;"></div>
	<div class="row text-center">	
		<a ui-sref="signup" class="btn btn-primary btn-lg">Sign Up</a>
	</div>
</div>
<style>
body {
	background-image: url("./images/library.jpg");
}
</style>
